body {
  margin: 0;
  background-color: black;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 550px;
  height: 868px;
  background-color: #23252C;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 317px;
  height: 780px;
  border-radius: 10px;
  background-color: #161619;
}

.profilePhoto {
  border-radius: 10px 10px 0 0;
}

.card > h1 {
  color: white;
}
